@import "tailwindcss";
@plugin "daisyui";
@plugin "@tailwindcss/typography";

html {
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

@theme {
  --default-font-family: 'Inter', 'Inter Variable', 'Noto Sans JP', 'Noto Sans JP Variable', sans-serif;
}

img.twemoji {
  height: 1em;
  width: 1em;
  margin: 0 0.05em 0 0.1em;
  vertical-align: -0.1em;
  display: inline-block;
}